/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    border-radius: 5px;
}

    .wrapper .text-input {
        display: flex;
        border-bottom: 1px solid #ccc;
    }

.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid #ccc;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

    .text-input textarea::placeholder {
        color: #b7b6b6;
    }

.controls, li, .icons, .icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

    .controls .row .icons {
        width: 38%;
    }

        .controls .row .icons i {
            width: 50px;
            color: #adadad;
            font-size: 14px;
            cursor: pointer;
            transition: transform 0.2s ease;
            justify-content: center;
        }

    .controls .row.from .icons {
        padding-right: 15px;
        border-right: 1px solid #ccc;
    }

    .controls .row.to .icons {
        padding-left: 15px;
        border-left: 1px solid #ccc;
    }

    .controls .row select {
        color: #333;
        border: none;
        outline: none;
        font-size: 18px;
        background: none;
        padding-left: 5px;
    }

.text-input textarea::-webkit-scrollbar {
    width: 4px;
}

.controls .row select::-webkit-scrollbar {
    width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
    background: #fff;
}

.text-input textarea::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
}

.controls .exchange {
    color: #adadad;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
}

.controls i:active {
    transform: scale(0.9);
}

.container button {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background: #5372F0;
}

@media (max-width: 660px) {
    .container {
        padding: 20px;
    }

    .wrapper .text-input {
        flex-direction: column;
    }

    .text-input .to-text {
        border-left: 0px;
        border-top: 1px solid #ccc;
    }

    .text-input textarea {
        height: 200px;
    }

    .controls .row .icons {
        display: none;
    }

    .container button {
        padding: 13px;
        font-size: 16px;
    }

    .controls .row select {
        font-size: 16px;
    }

    .controls .exchange {
        font-size: 14px;
    }
}

/*Form đăng nhập và đăng kí*/
.h2{
    margin-top: 150px;
}

.form {
    max-width: 800px;
    margin: 20px auto;
    align-items: center;
    padding: 0 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0 20px;
}

.tk, .mk, .rmk {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 10px auto 30px auto;
    align-items: center;
    flex-wrap: wrap;
}

    .tk input:focus, .mk input:focus, .rmk input:focus {
        border-color: var(--mainCl);
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

.form input {
    width: 500px;
    outline: none;
    padding: 5px 10px;
    margin-left: auto;
    display: inline-block;
    border: 1px solid #eee;
}

.dn_dk {
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 0 20px;
}

    .dn_dk a {
        padding: 10px 20px;
        color: #fff;
        display: inline-block;
        opacity: .8;
        width: 100px;
        background-color: #D24141;
        text-align: center;
        text-decoration: none;
    }

        .dn_dk a:hover, .inp:hover {
            text-decoration: none;
            opacity: 1;
            color: #fff;
        }

    .dn_dk .inp {
        width: auto;
        color: #fff;
        text-align: center;
        opacity: .7;
        background-color: #000;
    }

    /*.hd_2 {
        border-bottom: 2px solid #808080;
        display: flex;
        justify-content: space-evenly;
    }

        .hd_2 a {
            background: #006e7b;
            width: 150px;
            margin: 8px;
            cursor: pointer;
            color: white;
            border-radius: 13px;
            font-size: 12px;
            padding: 5px 0;
            transition: 0.2s ease-in;
            text-align: center;
            text-decoration: none;
        }*/
